@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #d4d4d8;
  --secondary: #999;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

a.active {
  font-weight: 500;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
